@model BasicMvcApp.Models.Anmalan
{
    Layout = null;
}

<!DOCTYPE html>
<h1>@ViewBag.Arne</h1>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Hej
        <form action="/Home/Index" method="post" enctype="multipart/form-data" name="form1" id="form1">                
            @Html.DropDownListFor(m => m.SelectedBuildingCode, new SelectList(Model.BuildingList, "BuildingCode", "Description" ), "Välj en byggnad")
            <br/>
            @Html.DropDownListFor(m => m.SelectedFloorCode, new SelectList(Model.FloorList, "FloorCode", "Description" ), "Välj en våning")
            <br/>
            <button onclick="forms(0).submit()">Skicka</button>
        </form>
    </div>
</body>
</html>
